.skeleton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.skeletonBlock {
    width: 100%;
    height: 20px;
    background-color: var(--light-grey);
    margin: 0 5px;
    animation: loading 1.5s ease-in-out infinite;
}
.skeleton:nth-child(1) {
    animation-delay: 0.1s;
}
.skeleton:nth-child(2) {
    animation-delay: 0.3s;
}
.skeleton:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes loading {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
