:root {
    --primary-color: #04353f;
    --secondary-color: #007fff;
    --terciary-color: #ff6600;
    --orange-primary: #f29e03;
    --orange-secondary: #ffa61d;
    --black: #000000;
    --white: #ffffff;
    --footer-background: #00000010;
    --grey: #333;
    --light-grey: #c3c3c3;
    --text-small-color: #555;
    --footer-background: #00000010;
    --container-background: #fefefe;
    --container-border: #000;
    --container-shadow: #d2effd;
    --container-border-radius: 8px;
    --button-disabled: #ececec;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: url('/background.svg');
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: var(--secondary-color);
}

.highcharts-legend,
.highcharts-credits {
    display: none;
}
