.header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem 2rem;
    background-color: var(--footer-background);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 110px);
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--footer-background);
}
