.home {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.homeHead {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
}
.searchBox {
    display: flex;
    gap: 1rem;
}
.errorsContainer {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    height: 50px;
}
.results {
    display: flex;
    padding-block: 1rem;
}
@media (max-width: 600px) {
    .homeHead {
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .searchBox {
        flex-direction: column;
        padding-top: 0.5rem;
    }
}
