.card {
    display: flex;
    flex-direction: column;
    background: var(--container-background);
    border-radius: var(--container-border-radius);
    border: 2px solid var(--container-border);
    padding: 1rem 1.5rem 1.5rem;
    -webkit-box-shadow: var(--container-shadow) 10px 10px;
    box-shadow: var(--container-shadow) 10px 10px;
}
.favorite {
    width: fit-content;
}
.favorite svg {
    cursor: pointer;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.row h2:hover {
    cursor: pointer;
    color: var(--terciary-color);
}
