.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--container-background);
    border-radius: var(--container-border-radius);
    border: 2px solid var(--container-border);
    padding: 1rem 2rem;
    -webkit-box-shadow: var(--container-shadow) 10px 10px;
    box-shadow: var(--container-shadow) 10px 10px;
    min-height: 500px;
}
.title {
    display: flex;
    align-items: center;
    padding: 0.9rem;
}
.props {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.9rem;
    padding-top: 0;
}
.temp{
    padding: 1rem;
}
